  <style>
    img{
      padding-right:50px;
      padding-left:50px;
      padding-bottom:50px;
      padding-top:20px;
    }
    .navbar{
      background-color:#509;
      border-color:#309;
      border-width:medium;
    }
    .jumbotron{
      color:#509;
      margin-top:50px;
      margin-bottom:0px;
      font-size:60px;
      text-shadow:black 0.1em 0.1em 0.1em;
      background-color:#113!important;
      text-align:center;
      font-family:Harrington, fantasy!important;
    }
    body{
      background-color:#114;
    }
    .p1{
      color:white;
      font-size:30px;
      padding-top:50px;
      font-family:Harrington, fantasy;
    }
    .p2{
      color:white;
      font-size:20px;
      padding-top:30px;
      font-family:Harrington, fantasy;
    }

    h2{
      color: white;
      font-family:Harrington, fantasy;
      font-size: 18px
    }
    ul li{
      display: inline-block;
      background: blue;
    }
    ol li{
      display: inline-block;
      background: white;
    }
  </style>
